<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loom</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const flash = document.getElementById('flash-message');
            if (flash) {
                setTimeout(() => {
                    flash.style.transition = 'opacity 0.5s ease';
                    flash.style.opacity = '0';
                    setTimeout(() => flash.remove(), 500); // remove after fade
                }, 3000); // 3 seconds
            }
        });
    </script>
</head>

<body>
    <% if(error.length>0){ %>
        <div id="flash-message" class="absolute top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>

            <div class="bg-zinc-900 w-full h-screen flex px-20">
                <div class="w-1/2 flex items-center justify-center h-screen">
                    <div class="w-full px-32">
                        <h3 class="text-4xl text-white mb-2">Welcome to <span
                                class="text-blue-400 font-semibold">Loom</span></h3>
                        <h4 class="text-2xl mb-5 text-white">Create your account</h4>
                        <form autocomplete="off" action="/users/register" method="post">
                            <input class="bg-zinc-100 block w-full px-3 py-3 rounded-md mb-3" type="text"
                                placeholder="Full Name" name="fullname" required>
                            <input class="bg-zinc-100 block w-full px-3 py-3 rounded-md mb-3" type="email"
                                placeholder="Email" name="email" required>
                            <input class="bg-zinc-100 block w-full px-3 py-3 rounded-md mb-3" type="password"
                                placeholder="Password" name="password" required>
                            <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                                value="Sign up">
                        </form>
                    </div>
                </div>

                <div class="flex items-center justify-center h-screen">
                    <h3 class="bg-blue-500 rounded-full px-2 py-2 text-white">OR</h3>
                </div>

                <div class="w-1/2 flex items-center justify-center h-screen">
                    <div class="w-full px-32">
                        <h4 class="text-2xl capitalize mb-5 text-white">login your account</h4>
                        <form autocomplete="off" action="/users/login" method="post">
                            <input class="block bg-zinc-100 w-full px-3 py-3  rounded-md mb-3" type="email"
                                placeholder="Email" name="email" required>
                            <input class="block bg-zinc-100 w-full px-3 py-3 rounded-md mb-3" type="password"
                                placeholder="Password" name="password" requiredF>
                            <input class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                                value="Login">
                        </form>
                    </div>
                </div>
            </div>
</body>

</html>